<div id="modalEdit" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h1>Добавление товара</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div>
                        <span id="idEditProduct"></span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Картинка</span>
                    </div>
                    <input id="editProductImg" type="text" class="form-control" placeholder="Картинка" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Название</span>
                    </div>
                    <input id="editProductName" type="text" class="form-control" placeholder="Название" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Цена</span>
                    </div>
                    <input id="editProductPrice" type="number" class="form-control" placeholder="Цена" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button id="buy" class="btn btn-success" onclick="editProduct()">Редактировать продукт</button>
                <button class="btn btn-danger" onclick="closeModalEdit()">Выйти</button>
            </div>
        </div>
    </div>
</div>