@using VendingMachine.Models.Domain
@model VendingMachine.Models.ViewModel.DrinkAndCodeViewModel
@await Html.PartialAsync("PopupAdd")
@{
    ViewData["Title"] = "Administrator panel";
}
<header>
    <h1>Панель администратора<button class="btn btn-success" onclick="">Добавить</button></h1>
</header>
<body>
@foreach (DrinksAndEats product in Model.Products)
    {
        <div class="product-wrap">
            <div class="product-item">
                <img src="@product.Img">
                <div class="product-buttons">
                    <a type="button" class="button" onclick="showModal(@product.Id)">Купить</a>
                    <div class="product-title">
                        <a>@product.Name</a>
                        <span class="product-price">₽ @product.Price</span>
                    </div>
                </div>
            </div>
        </div>
    }
</body>

