@using VendingMachine.Models.Domain
@model VendingMachine.Models.ViewModel.DrinkAndCodeViewModel
@await Html.PartialAsync("PopupAdd")
@await Html.PartialAsync("PopupEdit")
@{
    ViewData["Title"] = "Administrator panel";
}
<header>
    <h1>Панель администратора<button class="btn btn-success" onclick="showModalAdd()">Добавить</button></h1>
</header>
<body>
@foreach (DrinksAndEats product in Model.Products)
    {
        <div class="product-wrap">
            <div class="product-item">
                <img src="@product.Img">
                <div class="product-buttons">
                    <a type="button" class="button" onclick="showModalEdit(@product.Id)">Купить</a>
                    <a type="button" class="button" onclick="removeProduct(@product.Id)">Купить</a>
                </div>
            </div>
        </div>
    }
</body>

